<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

</head>

<body>
    {% load bootstrap4 %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center text-uppercase mb-3">
                            <b>
                                {% if request.GET.next != '/courier/' %}
                                Customer
                                {% else %}
                                Courier
                                {% endif %}
                            </b>
                        </h4>
                        <form method="post" action="/signin" class="mb-2">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter Your Username" Required>
                            </div>
                            <div class="form-group">
                                <label for="pass1">Password</label>
                                <input type="password" class="form-control" id="pass1" name="pass1"
                                    placeholder="Enter Your Password" Required>
                            </div>

                            <button type="submit" class="btn btn-warning btn-block">Login</button>
                        </form>

                        <p class="text-center mt-3">new to Engbeyay? <a
                                href="/sign-up/?next={{ request.GET.next }}">Sign
                                up</a></p>



</body>

</html>